*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper{
    /*I want all the content of my website to fit in exactly in viewport.
    So the height of the wrapper(including images, text, etc) should be 100% of the viewport height*/
    height: 100vh;

    /*I dont want my page to scroll on x-axis towards right or left side. So this will hide the scroll 
    bar towards right or left*/
    overflow-x: hidden;

    /*I want my page to be scrollable in y-axis i.e downwards
    NOTE: BUT EVEN IF YOU DONT ADD THIS PROPERTY, page will be scrollable vertically
    */
    overflow-y: auto;

    /*Since I want 3d effect to my page, I have to set perspective. It can be any value.
    Not necessarily 15px*/
    perspective: 15px;
}

.container{
    /*Why I have to use relative position? Will understand in background & foreground classes*/
    position: relative;
    /*Since I want to center word ADVENTURE. SO I have to use flexbox*/
    display: flex;
    justify-content: center;
    align-items: center;

    /*Since we are using 3d effect, we have to set transform style to preserve-3d sayng that we 
    want to preserve 3d effect to the child elements as well. In other words, whatever 3D effect 
    I have enabled, keep it as it is for child elements alsoand dont disable it.
    If we dont write this then it will not use 3d effect. Both images will play in 2D way &
    both imags will stick over each other without giving us 3d effect aur hum 3d effect nhi laa 
    payenge
    */
    transform-style: preserve-3d;

    /*I want the height of container to be 100% of the viewport*/
    height: 100%;

    /*It is used for overlapping. Lets say you dont use z-index in your website.
    Then the heading: ADVENTURE will be overlapped by the images & you wont be able to see 
    the heading. It will be hiddent. To solve this problem, we set z-index = -1 to get the heading
    on the top of all the images & be visible. The default value of z-index is 0.
    We set it to -1 so that the heading will be on top of all the images. If we set it to +ve,
    then it will go under all the images and will be hidden as it is overlapped
    */
    z-index: -1;
}

.background, .foreground{
    /*Since I want background & foreground images to overlap each other, I have to use absolute position*/
    /*Now we know that if we set position: absolute; then it will position the element wrt to its 
    parent/grandparent element whose position is non-static(either realtive/absolute/fixed/sticky). 
    So here the parent of both  background & foreground images is container. In order to achieve this
    we set container's position to relative*/
    position: absolute;

    /*
    I want image to utilize complete viewport's dimension. So I have to set height & width to 100%
    */
    height: 100%;
    width: 100%;

    /*I want background image to be behind the foreground image. So I have to set z-index to -1*/
    z-index: -1;

    /*This will resize and fit the image in the container*/
    object-fit: cover;
}

.background{
    /*We want the mountains to go far away from the guy so that it appears small. 
    This can be done by moving image on z-axiz So we have to set translateZ to -30px
    -ve val becaoz we want image to go far away from the guy. If we wanted image to
    come really close to his face, then give +ve value*/
    transform: translateZ(-30px);

    /*This will scale the mountain image because without scale property it will look small.
    Try commenting scale:5 and see the result*/
    scale: 5;
}

/*We did same thing that we did with the mountain image. Pushed guy little bit away from our perpsective
or eye & scaled him to appear a bit bigger*/
.foreground{
    transform: translateZ(-12px);
    scale: 2;
}

h1{
    position: absolute;
    top: 5rem;
    left: 50%;
    font-size: 10rem;
    letter-spacing: 4px;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transform: translateX(-50%);
    text-align: center; 
}

section{
    background-color: rgb(45,45,45);
    color: white;
    padding: 5rem 0;
}

.title{
    font-size: 5rem;
    padding: 0 10rem;
}

.text{
    font-size: 1.5rem;
    margin: 5rem 0;
    padding: 0 10rem;;
}

.bg{
    position: relative;
    width: 100%;
    /*
    If you set background-attachment: fixed; then the background image will be fixed
    to the viewport. But other content will continue to scroll over that background image.
    Comment the background-attachment: fixed; and see the result. And then uncomment it back and
    again see the result
    */
    background-attachment: fixed; 
    height: 500px;

    /*
    The following 2 properties will center the image and make it cover the entire div.
    Adding these 2 properties does not make really any difference for BIKING & PARA GUILDING
    images. They make difference for the SURFING image. T see how these 2 properties make difference, 
    comment them and see how SURFING image looks. You will notice, the man in the SURFING image
    disappears bcoz he is not in the center. Uncomment these 2 properties and see the result again
    */
    background-position: center;
    background-size: cover;
}

.desc{
    position: absolute;
    background-color: white;
    padding: 0.5rem 2.5rem;
    font-size: 3.5rem;
    font-weight: 600px;
    color: black;

    /*Used following 2 properties to center the text*/
    top:50%;
    left:50%;
    /*
    We used transform just to center the text EXACTLY. We can also use translate(-50%,-50%).
    Nothing of most importance use here
    Comment the following 2 properties and see the result to understand why we used transform
    even after using top & left properties
    */
    transform: translateX(-50%) translateY(-50%);
}

.bg1{
    background-image: url(images/sport-1.jpg);
}

.bg3{
    background-image: url(images/sport-2.jpg);
}

.bg2{
    background-image: url(images/sport-3.jpg);
}