.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* .card {
  background-color: #202329;
  width: 450px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  text-align: center; 
} */

.card {
  background-color: #202329;
  width: 100%;
  margin: auto;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
}

.card img {
  border-radius: 6px;
  width: calc(100% - 40px); /* Adjust the width to leave space on both sides */
  height: auto;
  margin: 20px; /* Set equal margins on all sides to center the image */
}

.card-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card-content h3 {
  margin-top: 0;
}

.cost-container {
  display: flex;
}

.price {
  margin-right: 20px;
  font-size: 30px;
  color: #6674cc;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}

.discount {
  margin-right: 20px;
  color: #81868f;
  font-size: 30px;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: line-through;
}

.description {
  color: white;
  font-size: 20px;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 16px;
}

.points {
  color: white;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
